<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
   <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
    <title>SUGGULA JASWANTH</title>
   <!--  
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> -->
	<!-- <link rel="icon" href="favicon.ico" type="image/x-icon"> -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="./static/font-awesome.min.css">
    <link href="./static/bootstrap.min.css" rel="stylesheet">
    <link href="./static/styles.css" rel="stylesheet">
    <link href="./static/main.3f6952e4.css" rel="stylesheet">
</head>

<body class="minimal">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">Home</a></li>
          <li><a href="./works.html" title="">Projects</a></li>
          <li><a href="./about.html" title="">About me</a></li>
          <li><a href="./contact.html" title="">Contact</a></li>
          <li><a href="./education.html" title="">Education Details</a></li>
   <!--        <li><a href="./components.html" title="">05 : Components</a></li> -->
        </ul>


      </div> 
    </div>
  </nav>
</header>
<body>
<!-- <div class="section-container"> -->
<div class="row">
    <div id="experience" class="background-alt">
     
        <div id="experience-timeline" >
               <h2 >EDUCATION DETAILS</h2>
 <div class="container3"  >
    <center>
   
            <div data-date="2018 – ONGOING">
                <img src="./static/assets/images/btech.png" alt="" height=100px>
                <h3>BACHELOR OF TECHNOLOGY, COMPUTER SCIENCE</h3>
                     <a class="card2" href="#"><b>SRM UNIVERSITY AP</b></a>
                <h4>2018 - Ongoing</h4></p>
                <p>
                    <h2>GPA - 9.0 / 10</h2> 
                </p>
            </div>
    </center>
</div>
           <img src="./static/assets/images/arrow.png" alt="" height=100px>
 <div class="container3"  >
    <center>
   
            <div data-date="2018 – ONGOING">
                <img src="./static/assets/images/INTER.png" alt="" height=100px>
                <h3>INTERMEDIATE, MPC</h3>
                     <div class="card2"><b>NRI JUNIOR COLLEGE</b></div>
                <h4>2016 - 2018 </h4></p>
                <p>
                    <h4 width=50%>PERCENTAGE(%) - 94 / 100</h4> 
                </p>
            </div>
    </center>
</div>
 <img src="./static/assets/images/arrow.png" alt="" height=100px>
 <div class="container3" >
    <center>
   
            <div data-date="2018 – ONGOING">
                <img src="./static/assets/images/school.png" alt="" height=100px>

                <h3>SCHOOL</h3>
                 <br>
                    <!--  <div class="card2" > -->
                  <!--       <a href="https://drive.google.com/file/d/187SwiDifRfWF6KPnoF5zWMFYIhPcYZxv/view?usp=sharing"><b>MONTESSORI E.M SCHOOL</b></a>
                    </div> -->

                <br>  
          
                <br>
                <h4>2005 - 2016 </h4></p>
                <p>
                    <h2>GPA - 9.2 / 10</h2> 
                </p>
            </div>
    </center>
</div>
</div>
</div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     type();
     movingBackgroundImage();
  });
</script>
<script type="text/javascript" src="./static/main.70a66962.js"></script></body>

    <!-- End #experience -->
  <!--   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="./static/scripts.min.js"></script> -->
</body>

</html>
